.iconBtn {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url("../../../assets/icons/wall-icons.svg");
  background-size: 156px 132px;
  cursor: pointer;

  & + & {
    margin-left: 20px;
  }
}

.likeBtn {
  background-position: -80px -56px;

  &._active {
    background-position: -132px -24px;
  }
}

.repliesBtn {
  background-position: -108px -48px;
}

